body {
    font: 16px "Calibri", "Trebuchet MS", Verdana, sans-serif;
    background-color:white;
    
}
.checked {
  color: orange;
 }
h1,h2,h3, h4 {
    font-family: Georgia;
}

h1{
    color: whitesmoke;
    text-align: center;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 40px;
    padding-top: 5px;
}

h2 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color:rgb(63,101,146);
    font-weight: bold;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    
}

h3{
    color: whitesmoke;
    text-align: center;
}

h4 {
    border-bottom: 3px solid #aaa;
    background-color: #303130;
    color: #ddd;
    padding: 1%;	
    text-align: center;
}

.secao0 {
   
    padding-left: 25px;
    top: 0%;
    line-height: 30px;
    width: 300px;
    height: auto;
    background-color:rgb(63,101,146);
    float: left;
    position: relative;
    left: 0%;
    font-weight: bold;
    font-size: 25px;
    
}

.secao1 { 
    top: 1%;
    margin-left: 310px;   
    margin-right: 0%;
    right: 0%;
    width: auto;
    height: 130px;
    background-color: whitesmoke;
    float: left;
    position: absolute;    
           
}

.secao2{
    
    width: 40%;
    float: left;
    margin-top: 140px;
    margin-left: 0%; 
    margin-right: 0%;
    background-color: whitesmoke;
    text-align: left;
    font-size: 15px;
    position: relative;
    padding: 0%;
           
}

.secao3{
   
    width: 40%;
    float: right;
    margin-left: 0%;
    margin-top: 140px; 
    background-color: whitesmoke;
    font-size: 15px;
    position: relative;
    margin-right: 0%;
    padding: 0%;
      
}

.galeria{
  text-align: center;
  float: left;
  position: absolute;
  margin-left: 310px;
  margin-top: 610px;
  width: 83%;
  height: auto;

} 
.but{
  color: white;
  margin-left: 50px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.493);
  font-size: 18px;
}

label {
    font-weight: bold;
    margin-left: 15px;
    font-size: 20px;
    color: rgb(12, 71, 167);
}

label:after {
	content: ": ";
}

.Label2{ 
    font-size: 18px;
    color: rgb(42, 42, 44);
    margin-left: 25px;
    font-weight: bold;

}
.Label2:after{
	content: ": ";
}
      
a:hover {
    text-decoration:none;
    color: rgb(207, 9, 9);
}
a{
    
    text-decoration: none;
    color: black;
  
}
a:visited {
    text-decoration:none;
    
}
           
.photo {
    background-size: contain;
    border-radius: 10%;
    width: 200px;
    height: 250px;
    margin-left: 15px;
    padding-top: 3%;
                             
}
.photo2{
    padding-left: 0%;
 
}

.tabela1{
    
    font-size: 16px;
    color: whitesmoke;
    padding-left: 1%;
    text-align: left;
    
}

.tabela2{
    
    color: black;
    padding-left: 0%;
    padding-right: 0%;
    font-size: 18px;
    background-color: white;
    table-layout: fixed;
    width: 100%;

}
.tabela3{
    top: 0%;
    padding-top: 0%; 
    margin-top: 0%;  
    background-color: white;
    color: black;
    font-size: 18px;
    table-layout: fixed;
    width: 100%;      
    
}

.dados{
    
    text-align: center;
    padding-bottom: 4%;
    padding-top: 2%;
    font-weight: bold;
    font-size: 25px;
    color: whitesmoke;
    
}

li{
    font-size: 17px;
    color: whitesmoke;  
    list-style: square;
    padding-left: 10%;
   
}

.secao0 p{
    text-align: left;
    margin-bottom: 0%;
    padding-top: 2%;
    font-weight: bold;
    font-size: 25px;
    color: whitesmoke;
    padding-bottom: 0%;
    width: 50%;
    height: 5%;
    
}
.simb{
    text-align: center;
    font-weight: bold;
    width: 3%;
    
}
.ep{
    text-align: left;
    padding: 2%;
    color: black;
    line-height: 1.1em;
}
.ep2{
    text-align: left;
    line-height: 2em;
}
.tabela4{
    border: black 2px dashed;
    width: 100%;
    text-align: center;
    
}

* {
    box-sizing: border-box;
  }
  
  
  .galeria:after {
    content: "";
    display: table;
    clear: both;
  }
   
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  .modal-content {
    position: relative;
    background-color: lightcyan;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1100px;
    max-height: 900px;
  }
  
 
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgba(255, 0, 0, 0.781);
    text-decoration: none;
    cursor: pointer;
  }
  
  .slides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
    
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 3 3px 3px 3;
    user-select: none;
    -webkit-user-select: none;
  }
    
  .next {
    right: 0;
    border-radius: 10px 0 0 10px;
  }
  .prev{
    left: 0;
    border-radius: 10px 0 0 10px;

  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.80);
  }
  
  
  .numbertext {
    color: black;
    font-size: 16px;
    padding: 10px 12px;
    position: absolute;
    top: 0;
  }
    
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
